body {
  padding: 0;
  margin: 0;
  background-color: rgb(0, 0, 0);
  width: 100vw;
  overscroll-behavior: none;
}

button {
  padding: 8px 20px;
  margin: 10px;
  font-size: 20px;
  border-radius: 10px;
  border: 2px solid white;
  color: white;
  background-color: rgba(0,0,0,0);
  transition: all 0.5s;
}

button:hover {
  cursor: pointer;
}

button:active {
  background-color: white;
  color: black;
}

button:focus {
  outline: none;
}