body {
  padding: 0;
  margin: 0;
  background-color: rgb(0, 0, 0);
  width: 100vw;
  overscroll-behavior: none;
  overflow: hidden;
}

button {
  padding: 7px 9px;
  margin: 10px 3px;
  font-size: 18px;
  border-radius: 10px;
  border: 2px solid white;
  color: white;
  background-color: rgba(0,0,0,0);
  transition: all 0.5s;
}

button:hover {
  cursor: pointer;
}

button:active {
  background-color: white;
  color: black;
}

button:focus {
  outline: none;
}

input[type=color] {
  border: 2px solid white;
  padding: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  outline: none;
  position: absolute;
  right: 10px;
  top: 15px;
  cursor: pointer;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

#random-btn {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 47px;
  top: 15px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.1s;
}

#random-btn:active {
  transform: rotate(90deg);
}